.hero {
    width: 100%;
    min-height: 100vh;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    z-index: 3;
}

@media (min-width: 1034px) {
    .hero:after {
    position: absolute;
    content: "";
    width: 40%;
    background: #14467B;
    top: 0;
    bottom: 0;
    }
}

.hero:before {
    position: absolute;
    content: "";
    background: rgba(27, 47, 69, 0.6);
    inset: 0;
}

@media (max-width: 1034px) {
    .hero:before {
    background: rgba(27, 47, 69, 0.7);
    }
}

.hero .container {
    z-index: 1;
}

@media (min-width: 1365px) {
    .hero {
    background-attachment: fixed;
    }
}

.hero h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

.hero blockquote {
    color: #fff;
    padding-left: 20px;
    font-size: 15px;
    border-left: 2px solid white;
    margin: 40px 0;
}

.hero .btn-clicker {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    margin-right: 30px;
    border-radius: 15px;
    transition: 0.5s;
    color: #2A3182;
    background: white;
    text-decoration: none;
}

.hero .btn-clicker:hover {
    background: transparent;
    color: white;
    border: 2px solid white;
}


@media (max-width: 640px) {
    .hero h2 {
    font-size: 36px;
    line-height: 1;
}

.hero .btn-get-started
    {
    font-size: 13px;
    }
}

